blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  margin: 60px auto; width: 70%;
}

img {
width:30%;
height:30%;
padding: 0px;
}
nav ul, footer ul {
    font-family:'Helvetica Neue', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
  font-weight: bold;
  color: #d5000d;
  font-size: 20px;
}

header {
  padding-top: 35px;
  padding-bottom: 10px;
}

header h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

header h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;

}
h1 {
  font-size: 2.8em;
}

h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
  color: #303030;
}

h3 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #d5000d;
}

h4 {
  font-size: 16px;
  font-weight: bold;
  color: #303030;
}

h5 {
  font-size: 1em;
  color: #303030;
}

h6 {
  font-size: .8em;
  color: #303030;
}

p {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

topnav {
    background-color: #000000;
    overflow: hidden;
}


topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}


topnav a:hover {
    background-color: #ddd;
    color: black;
}


topnav a.active {
    background-color: #4CAF50;
    color: white;
}