.mediaViewInfo {
	--web-view-name: Design;
	--web-view-id: Design;
	--web-enable-scale-up: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Design;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Design_Class {
	position: absolute;
	width: 1920px;
	height: 4540px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Design;
	--web-view-id: Design;
	--web-enable-scale-up: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
.Rectangle_58_j {
	position: absolute;
	overflow: visible;
	width: 1645px;
	height: 3351px;
	left: 138px;
	top: 1189px;
}
.Rectangle_41 {
	position: absolute;
	overflow: visible;
	width: 695px;
	height: 327px;
	left: 137px;
	top: 787px;
}
.HOME_Class {
	position: absolute;
	left: 169px;
	top: 65px;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
	text-decoration: none;
}
.Group_9_Class {
	position: absolute;
	width: 509px;
	height: 35px;
	left: 706px;
	top: 68px;
	overflow: visible;
}
.Blogs_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(198,60,140,1);
	text-decoration: none;
}
.Github_Class {
	position: absolute;
	left: 121px;
	top: 0px;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(198,60,140,1);
	text-decoration: none;
}
.Projects_Class {
	position: absolute;
	left: 259px;
	top: 1px;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(198,60,140,1);
}
.Resume_Class {
	position: absolute;
	left: 412px;
	top: 0px;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(198,60,140,1);
}
.Reach_Out_Class {
	position: absolute;
	left: 408px;
	top: 835px;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
.Intersection_2_Class {
	position: absolute;
	width: 266px;
	height: 257px;
	left: 603px;
	top: 334px;
	overflow: visible;
}
.About_Me_Class {
	position: absolute;
	left: 1051px;
	top: 334px;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
.I_am_a_coder__dreamer_and_a_re_Class {
	position: absolute;
	left: 1019px;
	top: 430px;
	overflow: visible;
	width: 299px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(0,0,0,1);
}
.Email_Class {
	opacity: 0.8;
	position: absolute;
	left: 339px;
	top: 911px;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.LinkedIn__Class {
	opacity: 0.8;
	position: absolute;
	left: 339px;
	top: 972px;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.DeviantArt_Class {
	opacity: 0.8;
	position: absolute;
	left: 339px;
	top: 1033px;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
.Ellipse_1 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 40px;
	left: 260px;
	top: 911px;
}
.Group_16_Class {
	position: absolute;
	width: 42px;
	height: 40px;
	left: 260px;
	top: 972px;
	overflow: visible;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 40px;
	left: 260px;
	top: 1033px;
}
.Spotlight_Class {
	position: absolute;
	left: 852px;
	top: 1289px;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
.Rectangle_43 {
	filter: drop-shadow(0px 3px 15px rgba(115, 147, 236, 0.302));
	position: absolute;
	overflow: visible;
	width: 863px;
	height: 524px;
	left: 551px;
	top: 1449px;
}
.Rectangle_59 {
	filter: drop-shadow(0px 3px 15px rgba(115, 147, 236, 0.302));
	position: absolute;
	overflow: visible;
	width: 863px;
	height: 524px;
	left: 551px;
	top: 2031px;
}
.Rectangle_62 {
	filter: drop-shadow(0px 3px 15px rgba(115, 147, 236, 0.302));
	position: absolute;
	overflow: visible;
	width: 863px;
	height: 524px;
	left: 551px;
	top: 2613px;
}
.Rectangle_65 {
	filter: drop-shadow(0px 3px 15px rgba(115, 147, 236, 0.302));
	position: absolute;
	overflow: visible;
	width: 863px;
	height: 524px;
	left: 551px;
	top: 3195px;
}
.Rectangle_68 {
	filter: drop-shadow(0px 3px 15px rgba(115, 147, 236, 0.302));
	position: absolute;
	overflow: visible;
	width: 863px;
	height: 524px;
	left: 551px;
	top: 3777px;
}
.Invisibility_Cloak_Class {
	position: absolute;
	left: 842px;
	top: 1506px;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(198,60,140,1);
}
.Invisibility_Cloak__Class {
	position: absolute;
	left: 842px;
	top: 2088px;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(198,60,140,1);
}
.Invisibility_Cloak_ba_Class {
	position: absolute;
	left: 842px;
	top: 2670px;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(198,60,140,1);
}
.Invisibility_Cloak_bb_Class {
	position: absolute;
	left: 842px;
	top: 3252px;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(198,60,140,1);
}
.Invisibility_Cloak_bc_Class {
	position: absolute;
	left: 842px;
	top: 3834px;
	overflow: visible;
	width: 237px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(198,60,140,1);
}
.Component_6___11_Class {
	opacity: 0.85;
	position: absolute;
	width: 538px;
	height: 23px;
	left: 707px;
	top: 1580px;
	overflow: visible;
}
.This_project_aims_to_emulate_a_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Component_6___16_Class {
	opacity: 0.85;
	position: absolute;
	width: 538px;
	height: 23px;
	left: 708px;
	top: 2162px;
	overflow: visible;
}
.This_project_aims_to_emulate_a_bg_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Component_6___17_Class {
	opacity: 0.85;
	position: absolute;
	width: 538px;
	height: 23px;
	left: 708px;
	top: 2744px;
	overflow: visible;
}
.This_project_aims_to_emulate_a_bi_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Component_6___18_Class {
	opacity: 0.85;
	position: absolute;
	width: 538px;
	height: 23px;
	left: 708px;
	top: 3326px;
	overflow: visible;
}
.This_project_aims_to_emulate_a_bk_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Component_6___19_Class {
	opacity: 0.85;
	position: absolute;
	width: 538px;
	height: 23px;
	left: 708px;
	top: 3908px;
	overflow: visible;
}
.This_project_aims_to_emulate_a_bm_Class {
	opacity: 0.7;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 521px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(0,0,0,1);
}
.Rectangle_44 {
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 175px;
	left: 808px;
	top: 1636px;
	border-radius: 20px;
}
.Rectangle_60 {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 175px;
	left: 906px;
	top: 2218px;
	border-radius: 20px;
}
.Rectangle_63 {
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 175px;
	left: 808px;
	top: 2800px;
	border-radius: 20px;
}
.Rectangle_66 {
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 175px;
	left: 808px;
	top: 3382px;
	border-radius: 20px;
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 305px;
	height: 175px;
	left: 808px;
	top: 3964px;
	border-radius: 20px;
}
.Group_11_Class {
	position: absolute;
	width: 107px;
	height: 31px;
	left: 907px;
	top: 1844px;
	overflow: visible;
}
.Rectangle_45 {
	filter: drop-shadow(0px 3px 6px rgba(190, 196, 227, 1));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 49px;
	left: 0px;
	top: 0px;
}
.Github_bu_Class {
	position: absolute;
	left: 29px;
	top: 5px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Group_12_Class {
	position: absolute;
	width: 107px;
	height: 31px;
	left: 907px;
	top: 2426px;
	overflow: visible;
}
.Rectangle_45_bw {
	filter: drop-shadow(0px 3px 6px rgba(190, 196, 227, 1));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 49px;
	left: 0px;
	top: 0px;
}
.Github_bx_Class {
	position: absolute;
	left: 29px;
	top: 5px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Group_13_Class {
	position: absolute;
	width: 107px;
	height: 31px;
	left: 907px;
	top: 3008px;
	overflow: visible;
}
.Rectangle_45_bz {
	filter: drop-shadow(0px 3px 6px rgba(190, 196, 227, 1));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 49px;
	left: 0px;
	top: 0px;
}
.Github_b_Class {
	position: absolute;
	left: 29px;
	top: 5px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Group_14_Class {
	position: absolute;
	width: 107px;
	height: 31px;
	left: 907px;
	top: 3590px;
	overflow: visible;
}
.Rectangle_45_b {
	filter: drop-shadow(0px 3px 6px rgba(190, 196, 227, 1));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 49px;
	left: 0px;
	top: 0px;
}
.Github_ca_Class {
	position: absolute;
	left: 29px;
	top: 5px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Group_15_Class {
	position: absolute;
	width: 107px;
	height: 31px;
	left: 907px;
	top: 4172px;
	overflow: visible;
}
.Rectangle_45_ca {
	filter: drop-shadow(0px 3px 6px rgba(190, 196, 227, 1));
	position: absolute;
	overflow: visible;
	width: 125px;
	height: 49px;
	left: 0px;
	top: 0px;
}
.Github_cb_Class {
	position: absolute;
	left: 29px;
	top: 5px;
	overflow: visible;
	width: 49px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
.Send_Icon_Class {
	position: absolute;
	width: 28px;
	height: 28px;
	left: 265px;
	top: 919px;
	overflow: visible;
}
.Rectangle_20_Class {
	opacity: 0;
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 28px;
	height: 28px;
	left: 0px;
	top: 0px;
}
.send_2_Class {
	position: absolute;
	width: 24.999px;
	height: 24.999px;
	left: 2px;
	top: 2px;
	overflow: visible;
}
.Path_8 {
	overflow: visible;
	position: absolute;
	width: 25px;
	height: 24.999px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Layer_1_Class {
	position: absolute;
	width: 23px;
	height: 23px;
	left: 270px;
	top: 981px;
	overflow: visible;
}
.surface1530539_Class {
	position: absolute;
	width: 23px;
	height: 28px;
	left: 270px;
	top: 1039px;
	overflow: visible;
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 28px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}