html{
    font-family: 'Kulim Park';
}

#namb img[id= "prof"]{
    width:20%;
    height:20%;
    border-radius: 50px;
}

#namb li{
    text-decoration: none;
    list-style: none;
    float: left;
    
    padding: 15px;
}
#namb ul{
    text-align: center;
    
    display: inline-block;
    margin: auto;
}
#namb p[id="sp"]{
    font-weight: bold;
    font-size: large;
}
#namb a{
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 30px;
    width: fit-content;
    color: black;
}