* {
  box-sizing: content-box;
}
img[id=prof] {
border-radius:100px;
width:60%;
height:70%;
float:center;
/*padding:15px;*/
box-shadow:0 50px 40px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

html {
background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

scroll-behavior: smooth;
}

body{

}
div[id = "parta"]{
    height:100%;
    width:100%;
}

div[id = namb] {
position:relative;
/*left: 50%;*/
/*transform: translateX(-50%);*/
box-shadow:0 10px 10px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.23);

background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


width:60%;
border-radius:60px;
transition:all .3s cubic-bezier(.25,.8,.25,1);
margin:auto;
padding:15px;
page-break-after: always;
}

div[id = namb] p[id="sp"]{
font-size:20px;
}
div[id = namb] p,a{
font-size:16px;
font-family: avenir;
color:white;
text-decoration:none;
line-height:7px;
}

div[id = namb] a:hover{
font-size:17px;
color:black;
border-radius:30px;
box-shadow:0 50px 40px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
transition:all .3s cubic-bezier(.25,.8,.25,1);
text-decoration:none;
}


div[id = namb]:hover {

box-shadow:0 30px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
transition:all .3s cubic-bezier(.25,.8,.25,1);
}

div[id = proj]{
border-radius: 30px;
font-family: avenir;
display: flex;
height: 100vh;
align-items: center;
justify-content: center;
text-decoration:none;
/*float:center;*/
/*padding-top:20%;*/
/*margin:auto;*/
/*margin-left:50%;*/
/*margin-top:20%;*/
/*padding:20px;*/
/*width:30%;*/
/*box-shadow:0 10px 10px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.23);
background: #654ea3;
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
background: linear-gradient(to right, #eaafc8, #654ea3);*/
}

div[id = proj] p{
font-size:20px;
font-family: avenir;
color:black;
text-decoration:none;
line-height:5px;
}
div[id = proj] a{
font-size:25px;
font-family: avenir;
color:black;
text-decoration:none;
line-height:5px;
}



div[id = projl]{
    display: flex;
align-items: center;
justify-content: center;
border-radius: 30px;
height: 100vh;

font-family: avenir;
color:white;
text-decoration:none;
/*float:center;*/
/*padding-top:20%;*/
/*margin:auto;*/
/*margin-left:50%;*/
margin-top:60%;
/*padding:20px;*/
/*width:30%;*/
box-shadow:0 10px 10px rgba(0,0,0,0.16), 0 10px 10px rgba(0,0,0,0.23);
background: #654ea3;
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
background: linear-gradient(to right, #eaafc8, #654ea3);
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}


#full {
  height: 100vh;
  background-color: #256347;
}

