---
---

@import "{{ site.theme }}";
@import "fonts";

// NORMAL

ul.downloads {
  list-style: none;
  height: 40px;
  padding: 0;
  background: #f4f4f4;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  width: 270px;
}

.image-gallery {
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
justify-content: center;
padding: 4px;
}

.box {
flex-basis: 25%;
width: 100%;
padding: 10px;
margin: 2px;
}

.img-gallery {
width: 100%;
height: 200px;
object-fit: cover;
transform: scale(1);
transition: all 0.3s ease-in-out;
&:hover {
transform: scale(1.05);
}
}
.grid-container {
  display: grid;
}

.downloads li {
  width: 89px;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;
}
.downloads a {
  line-height: 1;
  font-size: 11px;
  color: #676767;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 34px;
}
.downloads ul a:active {
  background-color: rgb(30, 34, 39);
}

hr {
  border: 0;
  background: rgb(30, 34, 39);
  height: 1px;
  margin: 0 0 20px;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}
h2 {
  color: #393939;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

a small {
  font-size: 11px;
  color: #777;
  margin-top: -0.3em;
  display: block;
}

a {
  color: #4bafb4;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #069;
  font-weight: bold;
}

input[id="search-input"] {
  margin-left: 1em;
  border-radius: 5px;
  // border: 2px;
  // border: thin;
}
li[id="bul"] {
  list-style: none;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

a[id="imp"] {
  color: #c43b4a;
}

a:hover small {
  color: #777;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

.downloads li:first-child a {
  border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
  border-radius: 0 5px 5px 0;
}

.downloads a:hover,
.downloads a:focus {
  color: #675c5c;
  font-weight: bold;
}

.downloads li + li + li {
  border-right: none;
  width: 89px;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li,
  .downloads li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

@media (prefers-color-scheme: dark) {
  @import "rouge-dark";

  body {
    background-color: black;
    color: white;
  }
  h3,
  h4,
  h5,
  h6 {
    color: #d5f3ff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #d5f3ff;
    margin: 0 0 20px;
  }
  a {
    color: #9ce8ec;
    text-decoration: none;
  }
  strong {
    color: red;
    font-weight: 700;
  }
  .downloads a strong {
    font-size: 14px;
    display: block;
    color: red;
  }
  code,
  pre {
    font-family: Lato;
    color: #d5f3ff;
    background-color: black;
  }

  pre {
    padding: 8px 15px;
    background: black;
    border-radius: 5px;
    border: 1px solid black;
    overflow-x: auto;
  }
  ul.downloads {
    list-style: none;
    height: 40px;
    padding: 0;
    background: black;
    border-radius: 5px;
    border: 1px solid black;
    width: 270px;
  }
}

@media (prefers-color-scheme: light) {
  @import "rouge-github";
  body {
    background-color: white;
    color: black;
    padding: 50px;
    font: 15px/1.5 Lato;
    font-weight: 400;
  }
  code,
  pre {
    font-family: Lato;
    color: #333;
  }
  strong {
    color: #222;
    font-weight: 700;
  }
  .downloads a strong {
    font-size: 14px;
    display: block;
    color: #222;
  }
  pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
  }

  h3,
  h4,
  h5,
  h6 {
    color: #494949;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #222;
    margin: 0 0 20px;
  }
}
