<!DOCTYPE html>
<html lang=en>
   <head>
      <meta charset=utf-8>
      <title>Subhaditya Mukherjee</title>
      <meta name=viewport content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="./assets/css/landing.css">
   </head>
   <body>
               <div class=body>
                  <div class=jumbotron>
                     <h1>Subhaditya Mukherjee</h1>
                     <p class=lead>{code, art, read}</p>
                  </div>
                  <div class=container>
                     <div class=row>
                        <div class=col-md-7>
                           <pre><code class=language-plaintext>The key to life is to be unborable
                           </code></pre>
                           <hr>
                           <p>I am a coder, artist and bookworm :)<br> I am currently on my way to pursue a masters at the <a href = "https://www.rug.nl/">University of Groningen</a><br>
                           Check out my art on <a href = "https://www.instagram.com/aiexistentialart">instagram</a>, <a href = "https://folio.procreate.art/aiexistentialart/portfolio">folio</a></p>
                        </div>
                        <div class=col-md-3>
                           <h3 style=margin-top:0>What are you interested in?</h3>
                           {{ content }}
                                     </div>
                     </div>
                  </div>
               </div>
               <hr>
            </div>
         </div>
      </div>
   </body>
</html>
