<!DOCTYPE html>
<html>
	<head>
        
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="topnav">
		  <a class="active" href="/index.html">HOME</a>
		  <a href="/about/index.html">ABOUT</a>
		  <a href="/cv/index.html">CV</a>
		  <a href="/blog/index.html">BLOG</a>
		</div>
		
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:msubhaditya@gmail.com">Email</a></li>
        		<li><a href="https://github.com/SubhadityaMukherjee">Github Repos</a></li>
			</ul>
		</footer>
	</body>
</html>
