<!DOCTYPE html>
<html lang=en>

<head>
        <meta charset=utf-8>
        <title>Subhaditya Mukherjee</title>
        <meta name=viewport content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="../assets/css/landing.css">
</head>

<body>
        <div class=body>
                <div class=jumbotron>
                        <h1>Subhaditya Mukherjee</h1>
                        <p class=lead>{code, art, read}</p>
                </div>
                <div class=container>
                        <div class=row>
                                <div class=col-md-7>
                                        <pre><code class=language-plaintext>The key to life is to be unborable
                           </code></pre>
                                        <hr>
                                        <p>I am a coder, artist and bookworm :)<br><br>
                                                Check out my art on <br><br>
                                                <a href="https://gumroad.com/aiexistential">Gumroad</a><br>
                                                <a href="https://www.instagram.com/aiexistentialart">Instagram</a><br>
                                                <a href="https://folio.procreate.art/aiexistentialart/portfolio">Procreate
                                                        Folio</a>
                                        </p>
                                </div>
                                <div class=col-md-3>
                                        <h3 style=margin-top:0>What are you interested in?</h3>
                                        [content]
                                </div>
                        </div>
                        <br>
                                                        This site was made using <a href="https://github.com/SubhadityaMukherjee/selket">Selket : A static site generator I made</a>

                </div>
        </div>
        <hr>
        </div>
        </div>
        </div>
</body>

</html>
